body{
    font-family:"Roboto";
    
}
header{
    padding: 20px;
    margin: 0 10px;
    width: 100%;
    background-color: white;
    z-index:1;
    position: fixed;
    top: 0;

}
nav {
    display: inline;
    margin-top: 15px; 
    padding: 10px;
    word-spacing: 50px;
    text-transform: uppercase;
}
a.nav {
    text-decoration: none;
    margin-left: 50px;
    border: solid 1px pink;
    color: white;
    font-weight: bold;
    background-color:pink;
    padding: 15px 25px;
    border-radius: 10px;
}
main {
  width: fit-content; 
  margin: 100px 30px 30px 30px;
} 
 
aside {
    position: fixed;
    left: 1000px;
    bottom: 100px;
    font-style: italic;
    color: grey;
    font-size: 36px;
    font-weight: bold;
    width: 250px;
}

div.home_section {
    display: block;
    word-spacing: 10px;
    width: 100%;
    position: relative; /*diplay the writing on the right side*/
    left: 450px;
    top: 50px;   
}
h1 {
    font-size: 60px;
}

img.office {
    width: 450px;
    position: relative; /*display the image on the same level as the writing*/
    bottom: 150px;
}


/*set Styling for the tile of each section*/
h2 {
    font-size: 35px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(102, 179, 214);
    position: relative;
    border: solid 1px rgb(102, 179, 214);
    border-radius: 50px;
    width: 100%;
}

/*style about me section: display the text on the left and the vidoe on the right at the same level*/

div.about_me {
    position: relative;
    font-size: 30px;
    top: 50px;
    width: 400px; /*set the width of the text and area*/
    text-align: justify;
    font-size: medium;
}
iframe {
    position: relative;
    left: 420px;
    bottom: 100px;
}
section#resume {
    margin-top: 80px;
    margin-bottom: 0px;
    width: fit-content;
}

img.skills {
    margin-top: 30px;
    width: 300px;
    align-items: center;
}

table {
    width: fit-content;
    border-color: rgb(102, 179, 214);
    margin-bottom: 30px;
}
th,td {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

th {
    background-color: rgb(102, 179, 214);
}  
form {
    position: relative;
    left: 500px;
    bottom: 200px;
    border: 2px solid rgb(102, 179, 214);
    width: fit-content;
    padding: 30px;
}
label {
    font-weight: bold;
}
input {
        width: 150px;
        display: block;
}
.submit {
    background-color: rgb(102, 179, 214);
    color: white;
    font-size: bold;
    padding: 0px 30px;
    margin-top: 5px;
}
a.top{
    text-decoration: none;
    margin: 50px;
    border: solid 1px rgb(102, 179, 214);
    color: white;
    font-weight: bold;
    background-color:rgb(102, 179, 214);
    padding: 15px 25px;
    border-radius: 10px;
}    
hr{
    margin: 50px;
    border: solid 1px grey;
}
a.mail, a.facebook, a.linkedin{
    text-decoration: none;
    font-size: 14px;
    color: grey;
    font-weight: bold;
}
.footer {
    font-size: 14px;
    color: grey;
}
footer {
    font-weight: bold;
    margin-left: 50px;
}
